.navbar {
	background-color: #193e7a;
}

.navbar .navbar-brand {
  color: #ffffff;
}

input,select,label {
	width:70px;
	margin-right:5px;
}

th,td {
	padding: 0 7px;
	text-align: right
}

.money {
	color: #193e7a;
}

tbody,tfoot tr:first-child {
	border-top: #193e7a solid 1px;
}

.line {
  fill: none;
  stroke: #193e7a;
  stroke-width: 1.5px;
}

.baseline {
  stroke-dasharray: 4, 4;
}